.mainCard{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
    height: 3rem;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 3rem;
}

.card:hover{
    background-color: lightblue;
}
.cardElements{

    text-decoration: none;
    color: black;



}
.card{
    width: 900px;
    /* margin-left: 3rem; */
}
.dis{
    color: red;
}
.inbox{
    box-shadow: 0 0 5px;
}
