.welcome {
  display: flex;
  justify-content: space-between;
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    /* margin-top: 1px; */
    padding: 10px;
    
  }
  .sidebar {
    display: block;
   
    width: 200px; 
    padding: 20px;
    background-color: #f4f4f4;
    
  }
  
  .content {
    /* flex-grow: 1;  */
    max-width: 900px;
    padding: 20px;
    border-left: 1px solid #ccc; 
  }
  
  .sidebar button {
    width: 100%;
    margin-bottom: 10px;
  }
  
  
  
  
  
  
  
