.resetBackground {
    background-image: url("../Auth/blue.jpg");
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .resetInput {
    max-width: 90%;
    margin-left: 5%;
  }
  .resetDiv {
    border: 1px solid black;
    /* align-items:center; */
    width: 40%;
    border-radius: 7px;
    position: relative;
    /* margin-left: 10%; */
    top: 30%;
    height: 32%;
    /* right: 30%; */
    left: 30%; 
  }
  .resetDiv h2 {
    margin-left: 30%;
    padding-top: 4%;
  }
  .resetLabel {
    margin-left: 20%;
    margin-top: 5px;
    font-weight: bold;
    color: gray;
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .resetBtn {
    margin-left: 50%;
    margin-right: 5px;
    /* position: relative; */
  }